.header {
  text-align: center;
  margin-bottom: 20px;
}
.gif-image {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
  width: 80%; 
  height: auto; 
}

.articles-container {
  text-align: center;
}
.article_header {
  text-align: center;
  margin-bottom: 20px;
}

.article_list {
  list-style: none;
  padding: 0;
}

.article_list li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.article_image {
  width: 200px; 
  height: auto; 
  max-width: 50%; 
  display: block; 
  margin: 0 auto;
}
.article-body {
  font-family:'Courier New', Courier, monospace; 
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 20px;
}
.navigator-container {
  display: flex;
  justify-content: center;
  background-color: #f20e0e9a;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}
.comments-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.comment-card {
  background-color: #f20e0e9a;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  font-size: 14px;
}

.comment-card p {
  margin: 5px;
  padding: 0;
}

.comment-card .author {
  font-weight: bold;
}

.comment-card .date {
  font-style: italic;
}

.comment-card .votes {
  color: #555;
}
.confirmation-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fade-in-out 2s ease-in-out;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}



@media (max-width: 768px) {
  .article_list li {
    padding: 5px;
  }
}

