@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*====== 
  HOME 
======*/

.welcome-home {
  color: #5271ff;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif-home {
  width: 30rem;
}

.home {
  color: #5271ff;
  position: fixed;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
}

@media only screen and (max-width: 400px) {
  /*====== 
  HOME 
======*/
  .home {
    position: fixed;
    bottom: 1rem;
  }
}
/* =============================== */

/* =====
ARTICLES
======= */
.article_header {
  text-align: center;
  margin-bottom: 20px;
}
.gif-articles {
  width: 10rem;
}
.articles-container {
  display: grid;
  justify-content: center;
}

.articles-list {
  display: grid;
  gap: 2rem;
  padding: 10px;
  list-style: none;
}

.articles-link {
  text-decoration: none;
  color: var(--dark-blue);
}

.articles-link p {
  color: var(--mid-blue);
  text-align: center;
}

.articles-link:hover {
}
@media only screen and (min-width: 400px) {
  .articles-list {
    grid-template-columns: auto auto auto;
  }
}

/* ===========
SINGLE ARTICLE
============ */

.single-article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.single-article-container .single-article-card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.single-article-card .article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-blue);
}

.single-article-card img {
  width: 30rem;
  margin: 2rem 0;
}

.single-article-container .single-article-description {
  display: flex;
}

.comment-card {
  background-color: #5390d9;
  border: 1px solid #7400b8;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  font-size: 14px;
}

.comment-card p {
  background-color: #48bfe3;
  margin: 5px;
  padding: 0;
}

.comment-card .author {
  font-weight: bold;
}

.comment-card .date {
  font-style: italic;
}

.comment-card .votes {
  color: #555;
}

.confirmation-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fade-in-out 2s ease-in-out;
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
